---
http_interactions:
- request:
    method: get
    uri: http://yellowpages-cambodia.dev:3000/api/v1/categories/kh77
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"71117d93296df6db9fc0a2b900dc4f3c"'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"id":"A56381C4-47AB-4599-9CB9-F07382E22C48","alias_id":"kh77","name":"Shopping","short_name":"Shopping","description":"Shop
        till you drop! Whether you are selling and buying any consumer goods this
        is the category to browse.","keyword":"","display_on_web":true,"listing_count":3082,"created_time":"2011-08-13T13:54:38+07:00","updated_time":"2013-05-03T10:35:24+07:00","see":{"id":"006A1EE7-4987-40FE-8F8D-56F9544355A2","alias_id":"kh12320","name":"Footwear
        Materials & Supplies"},"parent_id":null,"see_alsos":[],"listings":{"data":[],"paging":{"total_entries":0,"total_pages":1,"per_page":25,"current_page":1}}},"links":{"parent":"http://yellowpages-cambodia.dev:3000/api/v1/categories/kh77/parent","listings":"http://yellowpages-cambodia.dev:3000/api/v1/listings"}}'
  recorded_at: Fri, 12 Jul 2013 16:28:21 GMT
recorded_with: VCR 2.5.0
