---
http_interactions:
- request:
    method: get
    uri: http://yellowpages-cambodia.dev:3000/api/v1/categories/kh12093?fields=id,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b2fd292564043369a09e09757a25b7a2"'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"id":"0809E4EF-6FAB-4AC5-9AB7-1EC76B189242","name":"Precious
        Stones"},"links":{"parent":"http://yellowpages-cambodia.dev:3000/api/v1/categories/kh12093/parent","listings":"http://yellowpages-cambodia.dev:3000/api/v1/listings"}}'
  recorded_at: Fri, 12 Jul 2013 16:28:21 GMT
recorded_with: VCR 2.5.0
