---
http_interactions:
- request:
    method: get
    uri: http://yellowpages-cambodia.dev:3000/api/v1/locations/kh2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a61ee6d09e5a61a564fc0c74261653e1"'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"alias_id":"kh2","created_time":"2011-03-26T22:59:05+07:00","listing_count":25351,"name":"Phnom
        Penh","priority":2,"show_on_web":true,"updated_time":"2013-05-03T10:34:43+07:00","id":"01834EE1-FA95-48DE-831A-3D3C05DD3AFC","listings":{"data":[{"address":"No.
        20, Mao Tse Toung (St. 245), 12305 Phnom Penh","addresses":[{"id":"34FA7C18-9CB8-11E0-9107-123141003441","address_field":{"id":"A09124E5-C8BA-9087-AAE1-C3247AB6L876","name":"Postal
        Code"},"value":"12305"},{"id":"34FB1D62-9CB8-11E0-91C6-123141003441","address_field":{"id":"A09124E5-C8BA-9087-AAC7-C3247AB6L876","name":"Street
        Name"},"value":"Mao Tse Toung (St. 245)"},{"id":"34FBAD22-9CB8-11E0-A37B-123141003441","address_field":{"id":"A09124E5-C8BA-9087-AAA3-C3247AB6L876","name":"City"},"value":"Phnom
        Penh"},{"id":"34FBCCE4-9CB8-11E0-8BEF-123141003441","address_field":{"id":"A09124E5-C8BA-9087-AAB5-C3247AB6L876","name":"House
        Number"},"value":"20"}],"alias_id":"kh44935","alias_names":[],"artwork_assets":[],"artworks":[],"banner_assets":[],"banners":[],"billboard_assets":[],"billboards":[],"business_type":{"id":"329e0760-22a6-11df-87eb-0800279aa8c0","name":"Brand
        Listing"},"catalog_items":[],"category_position_assets":[],"children":[],"communications":[{"id":"505487E2-9CB8-11E0-812B-123141003441","label":"Tel","type":"Tel","value":"023
        218 995-7","is_first_line":true,"image_url":""},{"id":"5055D962-9CB8-11E0-A37B-123141003441","label":"Fax","type":"Fax","value":"023
        218 339","is_first_line":false,"image_url":""},{"id":"5054E192-9CB8-11E0-9107-123141003441","label":"E-Mail","type":"E-Mail","value":"hengasiahp@yahoo.com","is_first_line":false,"image_url":"/email_images/original/missing.png"},{"id":"5055A51E-9CB8-11E0-B441-123141003441","label":"E-Mail","type":"E-Mail","value":"sales@hengasia.com","is_first_line":false,"image_url":"/email_images/original/missing.png"},{"id":"506B7312-9CB8-11E0-80A6-123141003441","label":"Website","type":"Website","value":"www.hengasia.com","is_first_line":false,"image_url":""}],"country":{},"created_by":{},"created_time":"2011-06-22T17:12:00+07:00","custom_assets":[],"description":null,"email":"hengasiahp@yahoo.com","extra_communications":[],"gallery_image_assets":[],"gallery_images":[],"has_map":true,"headline":"","image_galleries":[],"inquiry_assets":[],"installed_apps":[],"is_active":true,"is_international":false,"keyphrases":[],"lat":11.543811669784384,"location":{"id":"01834EE1-FA95-48DE-831A-3D3C05DD3AFC","alias_id":"kh2","name":"Phnom
        Penh"},"location_position_assets":[],"logo":{},"long":104.92139722698971,"media_assets":[],"medias":[],"name":"Heng
        Asia (VRH)","parent":{"id":"8334B07D-5F39-4325-A9D3-757AADC92760","alias_id":"kh4103","name":"Heng
        Asia"},"people":[],"postal_code":null,"qrcode_url":"","reject_reason":"","search_position_assets":[],"short_descriptions":[],"show_map_on_web":true,"source":{},"stats":{"billboard_clicks":0,"email_clicks":0,"sponsor_views":0,"views":0,"website_clicks":0,"yearmonths":{}},"tax_number":"","telephone":"023
        218 995-7","updated_time":"2013-02-21T20:19:31+07:00","verify_status":"","web_style_assets":[],"website":"www.hengasia.com","zoom_level":15,"id":"117EDF5E-9CB8-11E0-8FFA-123141003441"},{"address":"No.
        109Eo, Sisowath, corner of Seng Thoung (St. 104), 12204 Phnom Penh","addresses":[{"id":"548D8592-7B9E-11E0-B076-1231400045DB","address_field":{"id":"A09124E5-C8BA-9087-AAD7-C3247AB6L876","name":"Corner
        of street"},"value":"corner of Seng Thoung (St. 104)"},{"id":"716F2DAA-7B9E-11E0-A623-1231400045DB","address_field":{"id":"A09124E5-C8BA-9087-AAE1-C3247AB6L876","name":"Postal
        Code"},"value":"12204"},{"id":"D97[...]
