---
http_interactions:
- request:
    method: get
    uri: http://yellowpages-cambodia.dev:3000/api/v1/locations/kh2?fields=id,alias_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"90bee7d602032a8073123d8ce4683822"'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"alias_id":"kh2","id":"01834EE1-FA95-48DE-831A-3D3C05DD3AFC"},"links":{"listings":"http://yellowpages-cambodia.dev:3000/api/v1/listings"}}'
  recorded_at: Fri, 12 Jul 2013 16:28:24 GMT
recorded_with: VCR 2.5.0
