---
http_interactions:
- request:
    method: get
    uri: http://yellowpages-cambodia.dev:3000/api/v1/me?auth_token=gTq7dHBUMzLxGv3oYNiy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e048ddc45f031b143bea2b5e7f4e7a01"'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"id":4575,"email":"chamnap@yoolk.com","confirmed":true,"authentication_token":"gTq7dHBUMzLxGv3oYNiy","created_at":"2010-06-28T09:04:57+07:00","updated_at":"2013-07-12T13:32:44+07:00","roles":[{"name":"Yoolk
        Admin","resource_type":{},"resource":{}}]}}'
  recorded_at: Fri, 12 Jul 2013 16:28:21 GMT
recorded_with: VCR 2.5.0
