---
http_interactions:
- request:
    method: get
    uri: http://yellowpages-cambodia.dev:3000/api/v1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f04b12ababb0c97b2d3ffdcd5a7be022"'
    body:
      encoding: UTF-8
      string: '{"data":{"abbreviation":"kh","about_us_url":"http://www.yellowpages-cambodia.com/listings/kh46023","address_templates":[{"id":"346B9048-8755-11E0-A31D-123141003441","format":"{No.:
        House Number}, {Street Name}, {St.: Street Number}, {Corner of street}, {Nearby
        Reference}, {Building name}, {Block}, {Floor}, {Unit}, {Group}, {Village},
        {Commune}, {Full Address}, {Sangkat}, {District}, {Khan}, {Unknown}, {Postal
        Code} {City}, {Province}, {Country}"},{"id":"9F754B7E-369E-11E1-A140-12314000B882","format":"{Street
        Name}, {St.: Street Number}, {City}, {Country}"},{"id":"B337A99A-5C42-11E0-98C9-1231400045DB","format":"{No.:
        House Number}, {Street Name}, {St.: Street Number}, {Corner of street}, {Nearby
        Reference}, {Building name}, {Block}, {Floor}, {Unit}, {Group}, {Village},
        {Commune}, {Full Address}, {Sangkat}, {District}, {Khan}, {Unknown}, {Postal
        Code}, {City}, {Province}"}],"analytics_key":"UA-7931093-1","android_app_url":"market.android.com/details?id=kh.com.yp","artwork_asset_settings":[{"id":1,"name":"Position
        1 with 10 keyphrases for 1 day","description":"","date_unit":"day","duration":1,"number_of_keyphrase":10,"position":1,"price":500.0}],"banner_asset_settings":[{"id":13,"name":"120x240
        category one month","description":null,"date_unit":"month","duration":1,"price":100.0,"width":120,"height":240,"is_active":true},{"id":14,"name":"120x240
        One month","description":null,"date_unit":"month","duration":1,"price":200.0,"width":120,"height":240,"is_active":true},{"id":15,"name":"120x240
        Keyword one month","description":null,"date_unit":"month","duration":1,"price":100.0,"width":120,"height":240,"is_active":true},{"id":16,"name":"120x240
        Keyword six months ","description":null,"date_unit":"month","duration":6,"price":600.0,"width":120,"height":240,"is_active":true},{"id":17,"name":"[...]
- request:
    method: get
    uri: http://yellowpages-cambodia.dev:3000/api/v1/listings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f5ed2dea22ec7aefac6236b71a948b3e"'
    body:
      encoding: UTF-8
      string: '{"data":[{"address":"No. 191, Tonle Sap Road, Yellow Tower, 1st Floor,
        Village 1, Sangkat Chroy Changva, 12110 Phnom Penh","addresses":[{"id":"55C54FD2-77B9-11E0-A410-1231400045DB","address_field":{"id":"275769BE-7633-11E0-AEBD-1231400045DB","name":"Floor"},"value":"1st
        Floor"},{"id":"565F0E12-7569-11E0-B16E-1231400045DB","address_field":{"id":"A09124E5-C8BA-9087-AAA1-C3247AB6L876","name":"Building
        name"},"value":"Yellow Tower"},{"id":"7A8DFA6A-71C4-11E2-8C90-12314000C811","address_field":{"id":"A09124E5-C8BA-9087-AAD5-C3247AB6L876","name":"Village"},"value":"Village
        1"},{"id":"8CFE353E-82AB-11E0-92D4-1231400045DB","address_field":{"id":"A09124E5-C8BA-9087-AAA3-C3247AB6L876","name":"City"},"value":"Phnom
        Penh"},{"id":"B49EE800-71C3-11E2-8A87-123141053E9B","address_field":{"id":"A09124E5-C8BA-9087-AAC7-C3247AB6L876","name":"Street
        Name"},"value":"Tonle Sap Road"},{"id":"B4C693BE-71C3-11E2-8B6E-123141053E9B","address_field":{"id":"A09124E5-C8BA-9087-AAD9-C3247AB6L876","name":"Sangkat"},"value":"Sangkat
        Chroy Changva"},{"id":"B617902B-633F-464A-AF45-9E90E36C39DD","address_field":{"id":"A09124E5-C8BA-9087-AAB5-C3247AB6L876","name":"House
        Number"},"value":"191"},{"id":"C7CE24E7-AAC4-4746-B992-4B72A5852331","address_field":{"id":"A09124E5-C8BA-9087-AAE1-C3247AB6L876","name":"Postal
        Code"},"value":"12110"}],"alias_id":"kh7364","alias_names":[],"artwork_assets":[],"artworks":[{"id":"5EEFFA20-0D40-11E3-AE41-20C9D043856B","name":"8AFE3C16
        8F97 11E2 851A 123141053E9B","text":"46,000\nAssets of over\nUSD 150 billion\nEveryday,
        Maybank puts our financial\nstrength and stability to work across the\nregion,
        supporting initiatives and ideas that\nare shaping the future Asia.\nOver
        50 Years\nof experience\n22 million \ncustomers\nEveryday, we provide our
        customers with\na wealth of international experience and\nlocal insight to
        help them pursue their\nambitions across the region.\nEveryday, over 22 million
        customers come\nto Maybank for their banking needs, from\nsimple transactions
        to multi-million\ndollar deals\nGlobal network of\n2,200 offices\nNo. 4B,
        Street 114, Phnom Penh.\nTel: (855) 23 210 123 / 210 255\nFax: (855) 23 210
        099\nE-mail: mbb@maybank.com.kh\nWebsite: www.maybank2u.com.kh\nEveryday,
        our customers gain access to new markets \nand opportunities in 20 countries
        around the world,\nincluding 10 ASEAN countries and key financial \ncapitals
        such as London, New York and Hong Kong.","images":[{"width":925,"height":638,"type":"original","url":"/kh/artwork_images/original/218418.jpg?1377405582"},{"width":925,"height":638,"type":"large","url":"/kh/artwork_images/large/218418.jpg?1377405582"},{"width":322,"height":222,"type":"medium","url":"/kh/artwork_images/medium/218418.jpg?1377405582"},{"width":196,"height":135,"type":"small","url":"/kh/artwork_images/small/218418.jpg?1377405582"}]}],"banner_assets":[],"banners":[],"billboard_assets":[],"billboards":[],"business_type":{"id":"2abd5262-22a6-11df-87eb-0800279aa8c0","name":"Business
        Listing"},"catalog_items":[{"id":"60F0E0AE-0D41-11E3-AE41-20C9D043856B","title":"Love
        for mezzanines","html_text":"Shown floor plan is designed as shared office
        space for software \r\ndevelopers... with is shared library, tech talk presentations
        area, \r\nworkgroup sessions, individual workstations, pair programming, and
        \r\ncombined teleconference/meeting room<br>","show_image":true,"is_published":true,"images":[{"width":600,"height":452,"type":"original","url":"/kh/catalog_item_images/original/218419.jpg?1377405986"},{"width":600,"height":452,"type":"large","url":"/kh/catalog_item_images/large/218419.jpg?1377405986"},{"width":322,"height":243,"type":"medium","url":"/kh/catalog_item_images/medium/218419.jpg?1377405986"},{"width":196,"height":148,"type":"small","url":"/kh/catalog_item_images/small/218419.jpg?1377405986"}]}],"category_position_assets":[],"children":[{"id":"4BE3B910-C6E5-11E0-A8CB-12314000DA2B","alias_id":"kh46023","name":"Cambodia
        Yellow Pages"},{"id":"FDA383B5-7DAE-41C3-B1B6-D9CB802900F9","alias_id":"kh42649","name":"Yellow
        Pages Directory Assistance"}],"communications":[{"id":"E37F4C0E-0ADF-49CE-8BB3-484A543296BE","label":"Tel","type":"Tel","value":"023
        432 107","is_first_line":true,"image_url":""},{"id":"BD52F018-DF3E-11E0-8722-123140009C28","label":"Fax","type":"Fax","value":"023
        432 101","is_first_line":false,"image_url":""},{"id":"566D3F74-6508-11E2-A53D-123141053E9B","label":"E-Mail","type":"E-Mail","value":"info@yp.com.kh","is_first_line":false,"image_url":"/kh/communications/original/566D3F74-6508-11E2-A53D-123141053E9B.gif20130826-82504-1n4c4rm?1377498418"},{"id":"E24522E6-0E18-11E3-A525-20C9D043856B","label":"Website","type":"Website","value":"chamnap.github.io","is_fi[...]
