---
http_interactions:
- request:
    method: get
    uri: http://yellowpages-cambodia.dev:3000/api/v1/listings/kh8022
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a910f3dfd524effbe1872a28f1cc4948"'
    body:
      encoding: UTF-8
      string: '{"data":{"address":"No. 53, Preah Monivong, 12201 Phnom Penh","addresses":[{"id":"5A22EE08-6E59-45C7-AAD7-7F356A3F5095","address_field":{"id":"A09124E5-C8BA-9087-AAB5-C3247AB6L876","name":"House
        Number"},"value":"53"},{"id":"B384FC20-08E2-11E1-8608-123140009C68","address_field":{"id":"A09124E5-C8BA-9087-AAC7-C3247AB6L876","name":"Street
        Name"},"value":"Preah Monivong"},{"id":"D0314A86-82A0-11E0-92D4-1231400045DB","address_field":{"id":"A09124E5-C8BA-9087-AAA3-C3247AB6L876","name":"City"},"value":"Phnom
        Penh"},{"id":"EA6E34E9-C162-43C5-BC14-FD731BBDA6D9","address_field":{"id":"A09124E5-C8BA-9087-AAE1-C3247AB6L876","name":"Postal
        Code"},"value":"12201"}],"alias_id":"kh8022","alias_names":[],"artwork_assets":[],"artworks":[{"id":"7F91AE94-CF2B-11E1-911D-12314000F07E","name":"C:\\fakepath\\lkh8022_4c2r_ckh11723.jpg","text":"N\u00ba
        53, Monivong Blvd., Sangkat Srah Chok, P.O. Box 1131, Phnom Penh, \r\n\r\n\r\nWelcome
        to \r\nPhnom Penh Hotel...\r\nKingdom of Cambodia. Tel: (855 23) 99 18 68
        / Fax: (855 23) 99 18 18\r\nE-mail: info@phnompenhhotel.com | Web Site: www.phnompenhhotel.com","images":[{"width":925,"height":638,"type":"original","url":"/kh/artwork_images/original/11507.jpg?1365049307"},{"width":925,"height":638,"type":"large","url":"/kh/artwork_images/large/11507.jpg?1365049307"},{"width":322,"height":222,"type":"medium","url":"/kh/artwork_images/medium/11507.jpg?1365049307"},{"width":196,"height":135,"type":"small","url":"/kh/artwork_images/small/11507.jpg?1365049307"}]}],"banner_assets":[],"banners":[],"billboard_assets":[],"billboards":[],"business_type":{"id":"2abd5262-22a6-11df-87eb-0800279aa8c0","name":"Business
        Listing"},"catalog_items":[],"category_position_assets":[],"children":[{"id":"96E83812-120E-4330-BEA9-D2903A0B346E","alias_id":"kh16588","name":"Zenith
        Lounge"},{"id":"6E1EA6D0-C13C-471B-8DED-4793AB0533D5","alias_id":"kh16587","name":"Hugo\u2019s
        Grill"},{"id":"49A5E56C-16DC-4379-85D5-B42CA1A41149","alias_id":"kh35623","name":"Koh
        Kong Resort"},{"id":"554CCAF4-FCBA-4D96-80BF-F574FE793325","alias_id":"kh22202","name":"Koh
        Kong Safari World"},{"id":"0300A705-7608-4967-B776-6D4F7408D5EF","alias_id":"kh16581","name":"Phnom
        Penh Health Club"},{"id":"07C8DAA7-F7E1-48A3-8DD0-FDD85E28A709","alias_id":"kh16590","name":"Palm
        View Caf\u00e9"},{"id":"7F01B189-3E57-427C-9C59-52BF82940DC4","alias_id":"kh16596","name":"Zen
        Japanese Restaurant"},{"id":"298171F4-1212-4AB6-9457-60816C113AFF","alias_id":"kh16730","name":"Poolside
        Bar"},{"id":"59ABB8DB-66B8-406E-8D93-6898226E1F47","alias_id":"kh22117","name":"Gem
        Palace Jewelry Shop"},{"id":"723500DB-3420-407A-B08B-0781A458FC9F","alias_id":"kh22118","name":"Vegas
        Club"},{"id":"A8DAB9A8-6298-48E9-9A4D-07E91B8CCB4D","alias_id":"kh26192","name":"Koh
        Kong Resort"},{"id":"BC166B81-6C1B-40E0-973D-6BABA4010971","alias_id":"kh31564","name":"Bua
        Thai Restaurant"},{"id":"DC834C8E-8A01-11E2-A523-123141053E9B","alias_id":"kh54312","name":"Club
        Excellence Lounge"}],"communications":[{"id":"EF9063E2-9BF1-4BD3-8EE8-EA01ECA61066","label":"Tel","type":"Tel","value":"023
        991 868","is_first_line":true,"image_url":""},{"id":"7C42D05E-5623-11E2-AC13-12314000C811","label":"Tel","type":"Tel","value":"023
        981 279","is_first_line":false,"image_url":""},{"id":"1B7B0767-6BE1-441D-A4E6-44A577122552","label":"Fax","type":"Fax","value":"023
        991 818","is_first_line":false,"image_url":""},{"id":"6DC3F4B1-A809-491F-8214-FBF78E2919DF","label":"E-Mail","type":"E-Mail","value":"info@phnompenhhotel.com","is_first_line":false,"image_url":"/kh/communications/original/6DC3F4B1-A809-491F-8214-FBF78E2919DF.gif20130405-23429-1bjmin8?1365127362"},{"id":"7B83E0E0-5623-11E2-8E9F-12314000C811","label":"E-Mail","type":"E-Mail","value":"asm@phnompenhhotel.com","is_first_line":false,"image_url":"/kh/communications/original/7B83E0E0-5623-11E2-8E9F-12314000C811.gif20130405-23429-fca9yo?1365128014"},{"id":"00E16376-4EA0-49D4-8792-DE9B95835B0C","label":"Website","type":"Website","value":"www.phnompenhhotel.com","is_first_line":false,"image_url":""}],"country":{"id":"D3971F5A-5C14-11E0-A079-1231400045DB","name":"Cambodia"},"created_by":{},"created_time":"1999-04-26T07:00:00+07:00","custom_assets":[],"description":"","email":"info@phnompenhhotel.com","extra_communications":[],"food_categories":[],"foods":[],"gallery_image_assets":[],"gallery_images":[],"has_map":true,"headline":"","image_galleries":[],"inquiry_assets":[],"installed_apps":[{"id":"0207DA22-85BF-11E0-9849-080027FBD74E","name":"Search
        Position Asset","installation_date":"2011-07-19T07:00:46Z"},{"id":"2ABD6320-EE15-11DF-9F95-08002762973F","name":"Book
        Style Asset","installation_date":"2011-05-30T08:40:43Z"},{"id":"799BEF76-77B6-11E1-8208-080027F64CBB","name":"Brochure
        Asset","installation_date":"2012-07-16T09:48:23Z"},{"id":"A41154E5-A3CB-4522-942F-C3247AB6L004","name":"Image
        Gallery Asset","installation_date":"2011-05-18T04:18:49Z"},{"id":"ACA258F6-F344-11E1-8CB3-12314000D85C","name":"Product
        Catalog","installation_date":"2013-07-17T07:37:43Z"},{"id":"E5BB2528-EC1E-11E1-B060-12314000F4E5","name":"Instant
        Website Asset","installation_date":"2013-10-09T04:24:09Z"},{"id":"E8962A4A-8EEC-11DF-94CE-08002791AA7F","name":"Web
        Style Asset","installation_date":"2011-05-27T10:06:52Z"}],"instant_website":{"id":2,"domain_name":"yellow-tower.com","google_analytics_key":"UA-42159257-17","is_live":false,"template":{"id":26,"name":"basic_business"}},"is_active":true,"is_international":false,"keyphrases":[{"id":"F2685338-CE4B-4E4B-A208-A5F34832DCF0","text":"Hotel","position":2},{"id":"75AD405A-B0F5-11E0-8994-123140009C4D","text":"Hotels","position":3},{"id":"75C0CF94-B0F5-11E0-8DB6-123140009C4D","text":"Spa","position":4},{"id":"762201A6-B0F5-11E0-AADD-123140009C4D","text":"Spas","position":5},{"id":"75C533B8-B0F5-11E0-9710-123140009C4D","text":"Massage","position":6},{"id":"75C715D4-B0F5-11E0-8A1C-123140009C4D","text":"Massages","position":7},{"id":"75C86970-B0F5-11E0-B425-123140009C4D","text":"Banquet","position":8},{"id":"763F6C00-B0F5-11E0-8994-123140009C4D","text":"Catering","position":9},{"id":"766777A4-B0F5-11E0-9710-123140009C4D","text":"Conference
        Room","position":10},{"id":"768DD624-B0F5-11E0-8DB6-123140009C4D","text":"Saunas","position":11}],"lat":11.578895872742423,"location":{"id":"01834EE1-FA95-48DE-831A-3D3C05DD3AFC","alias_id":"kh2","name":"Phnom
        Penh"},"location_position_assets":[],"logo":{"images":[{"width":150,"height":150,"type":"original","url":"/kh/logo_images/original/10361.jpg?1365046093"},{"width":150,"height":150,"type":"large","url":"/kh/logo_images/large/10361.jpg?1365046093"},{"width":150,"height":150,"type":"medium","url":"/kh/logo_images/medium/10361.jpg?1365046093"},{"width":50,"height":50,"type":"small","url":"/kh/logo_images/small/10361.jpg?1365046093"}]},"long":104.91621799542679,"media_assets":[],"medias":[],"menu_sources":[],"name":"Phnom
        Penh Hotel","parent":{},"people":[],"postal_code":"12201","product_brands":[],"product_categories":[],"products":[],"qrcode_url":"/system/listings/62B10B70-95BF-4E70-87A6-9B710EE6D7EB/545d08e2978de8d73bc99f7c0dc41b85.png","reject_reason":"","search_position_assets":[{"id":"7F3EFD1E-2D65-11E2-89B0-12314000C811","keyphrase":"Hotel,Hotels,Spa,Spas,Massage,Massages,Banquet,Catering,Conference
        Room,Saunas","plan":"Key.PV.12 (12M)","start_date":"2013-05-28T17:00:00Z","end_date":"2014-05-27T17:00:00Z","status":"void"},{"id":"AC33B328-A976-11E1-B342-12314000F07E","keyphrase":"Hotel,Hotels,Spa,Spas,Massage,Massages,Banquet,Catering,Conference
        Room,Saunas","plan":"Key.PV.12 (12M)","start_date":"2012-05-28T17:00:00Z","end_date":"2013-05-27T17:00:00Z","status":"live"},{"id":"F7965016-B1D6-11E0-9DAB-123140009C4D","keyphrase":"Hotel,Hotels,Spa,Spas,Massage,Massages,Banquet,Catering,Conference
        Room,Saunas","plan":"Key.PV.12 (12M)","start_date":"2011-05-26T17:00:00Z","end_date":"2012-05-25T17:00:00Z","status":"expired"},{"id":"EB133150-E83A-11E2-8EBD-B8F6B1139889","keyphrase":"Hotels,Spa","plan":"Key.P2-5.4
        (12M)","start_date":"2014-08-31T17:00:00Z","end_date":"2015-08-30T17:00:00Z","status":"reserved"},{"id":"48380CF0-2596-11E3-84C3-B8F6B1139889","keyphrase":"Hotel","plan":"Key.P6-10.8
        (12M)","start_date":"2013-09-24T17:00:00Z","end_date":"2014-09-23T17:00:00Z","status":"live"},{"id":"4D799896-2596-11E3-84C3-B8F6B1139889","keyphrase":"Spas","plan":"Key.P2-5.8
        (12M)","start_date":"2013-09-24T17:00:00Z","end_date":"2014-09-23T17:00:00Z","status":"live"},{"id":"5134E97C-2596-11E3-84C3-B8F6B1139889","keyphrase":"Massage","plan":"Key.P2-5.8
        (12M)","start_date":"2013-09-24T17:00:00Z","end_date":"2014-09-23T17:00:00Z","status":"live"}],"short_descriptions":[{"id":"526B6BD2-6129-11E1-97FB-12314000F07E","text":"Western
        cuisine","categories":[{"id":"F03D8D87-D2B4-42A2-B8D0-0832D512DACC","name":"Western
        & International Restaurants"},{"id":"C977D970-FB96-11E0-837C-12314000E861","name":"Restaurants"}]}],"show_map_on_web":true,"source":{},"stats":{"billboard_clicks":0,"email_clicks":0,"sponsor_views":0,"views":0,"website_clicks":0,"yearmonths":{}},"tax_number":"100045057","telephone":"023
        991 868","updated_time":"2013-11-01T09:33:18+07:00","verify_status":"","web_style_assets":[{"id":"1E7B9B26-8849-11E0-A6A4-123141003441","color":"Blue","category":"Hotels","plan":"Super
        Bold (12 months)","start_date":"2011-05-26T17:00:00Z","end_date":"2012-05-25T17:00:00Z","status":"expired"},{"id":"5A3D8E4A-2D65-11E2-961E-12314000C811","color":"Yellow","category":"Hotels","plan":"Hilite
        (12 months)","start_date":"2013-05-28T17:00:00Z","end_date":"2014-05-27T17:00:00Z","status":"void"},{"id":"9EC2A0F0-A976-11E1-A1D1-12314000F07E","color":"Yellow","category":"Hotels","plan":"Hilite
        (12 months)","start_date":"2012-05-28T17:00:00Z","e[...]
