---
http_interactions:
- request:
    method: get
    uri: http://yellowpages-cambodia.dev:3000/api/v1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"440cd046456a0befdd42f6cb9df93921"'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"abbreviation":"kh","about_us_url":"http://www.yellowpages-cambodia.com/listings/kh46023","address_templates":[{"id":"346B9048-8755-11E0-A31D-123141003441","format":"{No.:
        House Number}, {Street Name}, {St.: Street Number}, {Corner of street}, {Nearby
        Reference}, {Building name}, {Block}, {Floor}, {Unit}, {Group}, {Village},
        {Commune}, {Full Address}, {Sangkat}, {District}, {Khan}, {Unknown}, {Postal
        Code} {City}, {Province}, {Country}"},{"id":"9F754B7E-369E-11E1-A140-12314000B882","format":"{Street
        Name}, {St.: Street Number}, {City}, {Country}"},{"id":"B337A99A-5C42-11E0-98C9-1231400045DB","format":"{No.:
        House Number}, {Street Name}, {St.: Street Number}, {Corner of street}, {Nearby
        Reference}, {Building name}, {Block}, {Floor}, {Unit}, {Group}, {Village},
        {Commune}, {Full Address}, {Sangkat}, {District}, {Khan}, {Unknown}, {Postal
        Code}, {City}, {Province}"}],"analytics_key":"UA-7931093-1","android_app_url":"market.android.com/details?id=kh.com.yp","artwork_asset_settings":[{"id":1,"name":"Position
        1 with 10 keyphrases for 1 day","description":"","date_unit":"day","duration":1,"number_of_keyphrase":10,"position":1,"price":500.0}],"banner_asset_settings":[{"id":13,"name":"120x240
        category one month","description":null,"date_unit":"month","duration":1,"price":100.0,"width":120,"height":240,"is_active":true},{"id":14,"name":"120x240
        One month","description":null,"date_unit":"month","duration":1,"price":200.0,"width":120,"height":240,"is_active":true},{"id":15,"name":"120x240
        Keyword one month","description":null,"date_unit":"month","duration":1,"price":100.0,"width":120,"height":240,"is_active":true},{"id":16,"name":"120x240
        Keyword six months ","description":null,"date_unit":"month","duration":6,"price":600.0,"width":120,"height":240,"is_active":true},{"id":17,"name":"[...]
