---
http_interactions:
- request:
    method: get
    uri: http://yellowpages-cambodia.dev:3000/api/v1/listings/kh7364
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6868879d4b479e04d904656ba8fe4e51"'
    body:
      encoding: UTF-8
      string: '{"data":{"address":"No. 191, Tonle Sap Road, Yellow Tower, 1st Floor,
        Village 1, Sangkat Chroy Changva, 12110 Phnom Penh","addresses":[{"id":"55C54FD2-77B9-11E0-A410-1231400045DB","address_field":{"id":"275769BE-7633-11E0-AEBD-1231400045DB","name":"Floor"},"value":"1st
        Floor"},{"id":"565F0E12-7569-11E0-B16E-1231400045DB","address_field":{"id":"A09124E5-C8BA-9087-AAA1-C3247AB6L876","name":"Building
        name"},"value":"Yellow Tower"},{"id":"7A8DFA6A-71C4-11E2-8C90-12314000C811","address_field":{"id":"A09124E5-C8BA-9087-AAD5-C3247AB6L876","name":"Village"},"value":"Village
        1"},{"id":"8CFE353E-82AB-11E0-92D4-1231400045DB","address_field":{"id":"A09124E5-C8BA-9087-AAA3-C3247AB6L876","name":"City"},"value":"Phnom
        Penh"},{"id":"B49EE800-71C3-11E2-8A87-123141053E9B","address_field":{"id":"A09124E5-C8BA-9087-AAC7-C3247AB6L876","name":"Street
        Name"},"value":"Tonle Sap Road"},{"id":"B4C693BE-71C3-11E2-8B6E-123141053E9B","address_field":{"id":"A09124E5-C8BA-9087-AAD9-C3247AB6L876","name":"Sangkat"},"value":"Sangkat
        Chroy Changva"},{"id":"B617902B-633F-464A-AF45-9E90E36C39DD","address_field":{"id":"A09124E5-C8BA-9087-AAB5-C3247AB6L876","name":"House
        Number"},"value":"191"},{"id":"C7CE24E7-AAC4-4746-B992-4B72A5852331","address_field":{"id":"A09124E5-C8BA-9087-AAE1-C3247AB6L876","name":"Postal
        Code"},"value":"12110"}],"alias_id":"kh7364","alias_names":[],"artwork_assets":[],"artworks":[{"id":"3B7F73D2-8568-11E2-B18E-123141053E9B","name":"C:\\fakepath\\photo.jpg","text":null,"images":[{"width":2448,"height":3264,"type":"original","url":"/kh/artwork_images/original/10377.jpg?1365046126"},{"width":994,"height":1325,"type":"large","url":"/kh/artwork_images/large/10377.jpg?1365046126"},{"width":322,"height":429,"type":"medium","url":"/kh/artwork_images/medium/10377.jpg?1365046126"},{"width":196,"height":261,"type":"small","url":"/kh/artwork_images/small/10377.jpg?1365046126"}]},{"id":"4A91F53A-46CD-11E3-B988-14109FE41C1D","name":"10615","text":"l
        Brand new office space available \n from only $5 psqm.\n\nl Located opposite
[...]
